<!-- Details.cshtml in GymManagement/Views/Customer folder-->
@using GymManagement.Models
@using GymManagement.ViewModels
@model GymManagement.ViewModels.CustomerDashboardViewModel

@{
  int counter = 1;
}

<div>
    <h2>Customer Details</h2>
    <p><strong>Name:</strong> @Model.Name</p>
    <p><strong>Membership Type:</strong> @Model.MembershipType</p>
    <p><strong>Membership Status:</strong> @Model.MembershipStatus</p>
    <p><strong>Subscription Date:</strong> @Model.SubscriptionDate.ToString("yyyy-MM-dd")</p>

    <h3>Payments:</h3>
    <ul>
    @foreach (var payment in Model.Payments)
    {
        <li>@payment.PaymentMethod - @payment.Price</li>
    }
    </ul>

    <h3>Bookings:</h3>
    <ul>
    @foreach (var booking in Model.Bookings)
    {
        <li>Session ID: @booking.SessionId</li>
    }
    </ul>
</div>